@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-image: url("../images/header-mobile-background-0.5x.jpg");
    background-position: 50% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

@media screen and (min-width: 900px) {
    .header {
        background-image: url("../images/header-background.jpg");
    }
}

.header::after {
    content: "";
    display: block;
    width: 12.5rem;
    height: 0.25rem;
    background-color: #ed6a4e;
    margin-left: auto;
    margin-right: auto;
}

#uma-logo-container {
    display: block;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 2rem;
}

@media screen and (min-width: 62em) {
    #uma-logo-container {
        margin-left: 0;
        margin-right: 0;
    }
}

#navigation-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

 @media screen and (min-width: 62em) {
    #navigation-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
 }

#uma-logo {
    width: 100%;
}

#navigation-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation-list-items {
    display: inline-block;
    list-style-type: none;
}

.navigation-list-anchor {
    display: inline-block;
    padding: 1rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#navigation {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 62em) {
    #navigation {
        display: flex;
        justify-content: space-between;
    }
}

.header-button {
    display: inline-block;
    color: white;
    background-color: transparent;
    border: 0.125rem solid white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 1000px;
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 62em) {
    li .header-button {
        display: none;
    }
    
}

.headings {
    margin: 0;
    color: white;
}

#header-heading {
    font-size: 2rem;
}


@media screen and (min-width: 36em) {
    #header-heading {
        font-size: 3rem;
    }

    #header-subheading {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 62em) {
    #header-heading {
        padding-top: 5rem;
    }
}

#header-subheading {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 62em) {
    #header-subheading {
        padding-bottom: 7.5rem;
    }
}

@media screen and (min-width: 62em) {
    #header-button-mobile {
        display: none;
    }
}

.container-center {
    display: grid;
    justify-content: center;
}