@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-image: url("../images/header-mobile-background-0.5x.jpg");
    background-position: 50% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

@media screen and (min-width: 900px) {
    .header {
        background-image: url("../images/header-background.jpg");
    }
}

.header::after {
    content: "";
    display: block;
    width: 7.5rem;
    height: 0.25rem;
    background-color: #ed6a4e;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 62em) {
    .header::after {
        width: 12.5rem;
    }
}

#uma-logo-container {
    display: block;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 2rem;
}

@media screen and (min-width: 62em) {
    #uma-logo-container {
        margin-left: 0;
        margin-right: 0;
    }
}

#navigation-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

 @media screen and (min-width: 62em) {
    #navigation-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
 }

#uma-logo {
    width: 100%;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5))
}

#navigation-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation-list-items {
    display: inline-block;
    list-style-type: none;
}

.navigation-list-anchor {
    display: inline-block;
    padding: 1rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.navigation-list-anchor:hover {
    text-decoration: underline;
}

#navigation {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 62em) {
    #navigation {
        display: flex;
        justify-content: space-between;
    }
}

.header-button {
    display: inline-block;
    color: white;
    background-color: transparent;
    border: 0.125rem solid white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 1000px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 62em) {
    li .header-button {
        display: none;
    }
    
}

.headings {
    margin: 0;
    color: white;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

#header-heading {
    font-size: 2rem;
}

@media screen and (min-width: 36em) {
    #header-heading {
        font-size: 3rem;
    }

    #header-subheading {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 62em) {
    #header-heading {
        padding-top: 5rem;
    }
}

#header-subheading {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 62em) {
    #header-subheading {
        padding-bottom: 7.5rem;
    }
}

@media screen and (min-width: 62em) {
    #header-button-mobile {
        display: none;
    }
}

.container-center {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

/* Adventures Section */
.adventures {
    padding-bottom: 4rem;
    /* set background color if background image doesn't load */
    background-color: rgb(225, 220, 206);
    background-image: url(../images/adventures-background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

/* set max-width of the content for large screens */
.adventures-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Adventure Heading*/
.adventures-heading {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2.5rem;
    color: #014153;
}

.pre-text {
    display: block;
    font-size: 1.5rem;
}

/* Adventure Cards */

#adventure-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    /* allows cards to be on a line with header content */
    margin-top: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    
}

.adventure-card {
    flex: 0 0 22.3rem;
    margin: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 2rem;
    background-color: white;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

    transition: transform 0.25s ease-in-out;
}

.adventure-card:hover {
    transform: scale(1.05);
}

.adventure-card-image {
    width: 100%;
    display: block;
}

.adventures-card-heading {
    margin: 0;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: #014153;
    text-align: center;
    text-transform: uppercase;
}

.adventure-card-date {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
    color: #014153;
    text-align: center;
    text-transform: uppercase;
}

.adventure-card-date > span {
    color: #ed6a4e
}

.adventure-button {
    display: inline-block;
    color: white;
    background-color: #ed6a4e;
    font-weight: bold;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 1000px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.adventure-button:hover {
    text-decoration: underline;
}

/* Story Section */
.story {
    background-image: url(../images/story-mobile-background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

@media screen and (min-width: 62em) {
    .story {
        background-image: url(../images/story-background.jpg);
        background-attachment: fixed;
    }
}

@media screen and (min-width: 62em) {
    .story-text-mobile {
        padding-left: calc(50% + 2rem);
    }
}

.story-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.story-heading {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2.25rem;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.header-topper::before {
    content: "";
    display: block;
    margin-bottom: 2rem;
    width: 7.5rem;
    height: 0.25rem;
    background-color: #ed6a4e;
}

@media screen and (min-width: 62em) {
    .header-topper::before {
        width: 10rem;
    }
}

.story-paragraph {
    margin: 0;
    padding-bottom: 1.5rem;
    color: white;
    font-size: 1rem;
    line-height: 1.4em;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.story-button {
    display: inline-block;
    color: white;
    background-color: #ed6a4e;
    font-weight: bold;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 1000px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.story-button:hover {
    text-decoration: underline;
}

/* Parts Section*/

.parts {
    padding-bottom: 1.8rem;
}

.parts-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.parts-heading {
    margin: 0;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: #014153;
    text-align: center;
    text-transform: uppercase;
}

.parts-paragraph {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
    color: #014153;
    font-size: 1rem;
    line-height: 1.4em;
    max-width: 35rem;
    text-align: center;

}

.parts::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7.5rem;
    height: 0.25rem;
    background-color: #ed6a4e;
}